<div id="index">
	<div class="cotainer">
		<div class="row">
			<div class="col-sm-12">
				<div class="banner">
					<img src="/assets/happy.png" />
					<h1>This is the coffee finder app :)</h1>
					<p>We will help you find the coffee experience of your dreams.</p>
				</div>
			</div>
		</div>
	</div>
</div>